---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: '保護者の方へ | unpacked event HP',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>保護者の方へ</h1>
			<p>
			 
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/KCさん.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
     メッセージを書いてもらう
    </p>
    <p>
    </p>
    <p>
    </p>
  </TextSection>
</Layout>
